.contactSection {
  background-color: #fdf5f5;
}

.contactBox {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.input,
.textarea {
  width: 100%;
  padding: 10px 14px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.sendBtn {
  background-color: #b22222;
  color: #fff;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.sendBtn:hover {
  background-color: #8b1a1a;
}

.infoCard {
  background: #fff;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  width: auto;
  height: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
}

.infoCard i {
  font-size: 24px;
  color: #b22222;
  margin-bottom: 10px;
  display: block;
}
