/* styles/Navbar.css */

.navbar {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar-nav .nav-link {
  color: #333;
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #f57c00;
}

.navbar-brand img {
  max-height: 50px;
}
