@media (min-width: 0px) {
  .wrapper {
    position: relative;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
  }

  .sparklesCanvas {
    position: absolute;
    inset: 0;
  }

  .content {
    position: relative;
    z-index: 10;
    height: 100%;
  }
}

